{% extends 'email/base.html.twig' %}

{% block content_site %}

    {% block session_flash %}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endblock %}
    {% block render_form %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="jumbotron">
                        <h1 class="align-content-center text-center">Skontaktuj się z nami</h1>
                    </div>
                </div>
                <div class="col-lg-6 offset-3">

                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_errors(form) }}
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                {{ form_row(form.name) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                {{ form_row(form.email) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                {{ form_row(form.message) }}
                            </div>
                        </div>
                    </div>


                </div>
                <button type="submit" class="btn btn-block btn-primary">Wyślij</button>
                {{ form_end(form) }}
            </div>
        </div>
        </div>

    {% endblock %}
{% endblock %}